<%= form_with(model: notebook, local: true, data: { turbo: false }) do |form| %>
  <% if notebook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notebook.errors.count, "error") %></h2>
      <ul>
        <% notebook.errors.each do |message| %>
          <li><%= message.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :equipment_id %>
    <%= form.text_field :equipment_id %>
  </div>

  <div>
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div>
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div>
    <%= form.label :asset_number %>
    <%= form.text_field :asset_number %>
  </div>

  <div>
    <%= form.label :serial_number %>
    <%= form.text_field :serial_number %>
  </div>

  <div>
    <%= form.label :purchase_date %>
    <%= form.date_select :purchase_date %>
  </div>

  <div>
    <%= form.label :manufacture_date %>
    <%= form.date_select :manufacture_date %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <%= form.file_field :pdf, accept: 'application/pdf' %>


  <% if action_name == 'edit' %>
    <div>
        <p>
          <strong>Estado do notebook:</strong><br>
          <%= @notebook.state.humanize %>
        </p>
    </div>
  <% end %>

  <div>
    <%= form.submit if action_name == 'edit' ? 'Atualizar Notebook' : 'Criar Notebook' %>
  </div>
<% end %>
