<tr>
  <td><%= notebook.equipment_id %></td>
  <td><%= notebook.asset_number %></td>
  <td><%= notebook.state.humanize %></td>
  <td>
    <%= link_to 'Ver', notebook_path(notebook) %> |
    <%= link_to 'Editar', edit_notebook_path(notebook) %> |
    <%= link_to 'Excluir',  notebook_path(notebook), data: { turbo_method: :delete, turbo_confirm: 'Tem certeza?' } %>  
  </td>
</tr>
