<tr>
  <td><%= notebook.equipment_id %></td>
  <td><%= notebook.brand %></td>
  <td><%= notebook.model %></td>
  <td><%= notebook.asset_number %></td>
  <td><%= notebook.state.humanize %></td>
  <td>
    <%= link_to t('notebooks.view', default: 'Ver'), notebook_path(notebook) %> |
    <%= link_to t('notebooks.edit', default: 'Editar'), edit_notebook_path(notebook) %> |
    <%= link_to t('notebooks.delete', default: 'Excluir'), notebook_path(notebook), method: :delete, data: { confirm: t('notebooks.confirm_delete', default: 'Tem certeza?') } %>
  </td>
</tr>
