<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.notebook.equipment_id', default: 'Identificação') %></th>
      <th><%= t('activerecord.attributes.notebook.brand', default: 'Marca') %></th>
      <th><%= t('activerecord.attributes.notebook.model', default: 'Modelo') %></th>
      <th><%= t('activerecord.attributes.notebook.asset_number', default: 'Patrimônio') %></th>
      <th><%= t('activerecord.attributes.notebook.state', default: 'Estado') %></th>
      <th><%= t('notebooks.actions', default: 'Ações') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @notebooks %>
  </tbody>
</table>
